#teacher-header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

#teacher-header>ul{
    width: 50%;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

#teacher-header>ul>li>a{
    color: inherit;
    text-decoration: none;
}

#teacher-header>ul>li{
    font-size: 20px;
}